html{
    box-sizing: border-box;
}

* , *:before ,*:after{
    box-sizing: inherit;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #f2f2f2;
}

img{
    max-width: 100%;
    display: block;
}

h2{text-align: center;
    font-size: 1.6rem;
}

h3{
    margin: 0;
    font-weight: 700;
    font-family: 'Libre+Baskerville',serif;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 480px){
    .entry{
        flex: 0 0 calc(50% - 1rem);
    }
}

@media (min-width: 768px){
    .entry{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.entry .content{
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;

}

h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

span{
    color: #db008d;
}

.entry{
    margin-bottom: 2rem;
}
